/* style sheet */
/* global */
* {
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* div{
    border: solid rgb(255, 255, 255) 1px;
} */

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    overflow: hidden;
    margin: 0px;
    background: rgb(32, 33, 36);
    /* background-image: url("/images/background.png"); */
    background-size: 100vw 100vh;    
}

h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

/* ############################################################### */

#instructions{
    text-align: center;
    justify-content: center;
}


/* main container div */

#main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}


/* ############################################################### */

/* child of main */
#empty-container-one{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vh;
}



/* ############################################################### */

#number{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 27vh;
    
}


        #the-number-child{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 20px;
            background-color: rgb(133, 133, 133);
            width: 200px;
            height: 230px;
            border: rgb(83, 80, 80) solid 5px;
        }

/* ############################################################### */

 #keycode{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    height: 22vh;
}

        .event-efect{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 250px;
            height: 160px;
            border-radius: 20px;
            background-color: rgb(133, 133, 133);
            border: rgb(83, 80, 80) solid 5px;
        }

/* ############################################################### */
#empty-container-two{
    width: 100vw;
    height: 10vh;
} 
#empty-container-three{
    width: 100vw;
    height: 14vh;
} 
/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* MEADI */

@media all and (max-width: 700px) {
    .event-efect{
        height: 80px ;
        
    }
    
}
@media all and (max-width: 900px) {
    .event-efect{
        height: 80px ;
    }
    
}
@media all and (max-width: 1000px) {
    .event-efect{
        height: 80px ;
    }
    
}


/* ################################################################ */
/* ################################################################ */
/* ################################################################ */